.venv/
__pycache__/
*.pyc
.env
.DS_Store
.idea/
data/.gitkeep
data/mentees.json
data/sample_requests.json
data/sample_requests_results*.json
data/expert_finder.sqlite3
data/raw/*
data/processed/*

#vs code
extensions.json

#random scripts
scripts/shell_scripts/*

# deployment-related