.venv/
__pycache__/
*.pyc
.env
.env.*
.DS_Store
.idea/
data/.gitkeep
data/mentees.json
data/sample_requests.json
data/sample_requests_results*.json
data/expert_finder.sqlite3
data/raw/*
data/processed/*

# deployment-related
.dockerignore
Caddyfile
docker-compose.yml
Dockerfile
Makefile